In [1]:
from bs4 import BeautifulSoup
import requests

# ---------------------------------------------Question 1---------------------------------------------

In [2]:
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [3]:
# page.content

In [4]:
soup = BeautifulSoup(page.content)

In [5]:
first_heading = soup.find('h1',class_ = "firstHeading")
first_heading

In [6]:
fh = first_heading.text
fh

'Main Page'

In [7]:
second_heading = soup.find_all('h2', class_ = 'mp-h2')
second_heading

[<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>]

In [8]:
sh = []
for i in second_heading:
    sh.append(i.text.replace('\xa0...',''))
    
sh

["From today's featured article",
 'Did you know',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [9]:
header = soup.find_all('div', role = 'heading')
header

[<div class="wikipedia-languages-count" role="heading">1,000,000+ articles</div>,
 <div class="wikipedia-languages-count" role="heading">250,000+ articles</div>,
 <div class="wikipedia-languages-count" role="heading">50,000+ articles</div>]

In [10]:
headers = []
for i in header:
    headers.append(i.text)
    
headers

['1,000,000+ articles', '250,000+ articles', '50,000+ articles']

In [11]:
sh.append(fh)

In [12]:
sh.append(headers)

In [13]:
header_tag_list = sh
header_tag_list

["From today's featured article",
 'Did you know',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Main Page',
 ['1,000,000+ articles', '250,000+ articles', '50,000+ articles']]

# ----------------------------------- Question 2---------------------------------------------------

In [14]:
page = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
page

In [15]:
soup = BeautifulSoup(page.content)

In [16]:
movie_title = soup.find_all('td', class_ = 'titleColumn')
# movie_title

In [17]:
movie_title_list = []
for i in movie_title:
    movie_title_list.append(i.text.replace('\n','').strip())
    
mtl1 = movie_title_list[:100]

mtl2= []
for i in mtl1:
    mtl2.append(i.replace(i[-6:],''))
mtl2
mtl3 = []
for i in mtl2:
    mtl3.append(i.replace(i[0:8],''))
mtl3

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 ' The Lord of the Rings: The Fellowship of the Ring',
 ' Fight Club',
 ' Forrest Gump',
 ' Inception',
 ' The Lord of the Rings: The Two Towers',
 ' Star Wars: Episode V - The Empire Strikes Back',
 ' The Matrix',
 ' Goodfellas',
 " One Flew Over the Cuckoo's Nest",
 ' Shichinin no samurai',
 ' Se7en',
 ' The Silence of the Lambs',
 ' Cidade de Deus',
 " It's a Wonderful Life",
 ' La vita è bella',
 ' Star Wars',
 ' Saving Private Ryan',
 ' Sen to Chihiro no kamikakushi',
 ' The Green Mile',
 ' Interstellar',
 ' Gisaengchung',
 ' Léon',
 ' Seppuku',
 ' The Usual Suspects',
 ' The Pianist',
 ' Back to the Future',
 ' Terminator 2: Judgment Day',
 ' Modern Times',
 ' Psycho',
 ' The Lion King',
 ' American History X',
 ' City Lights',
 ' Gladiator',
 ' Whiplash',
 ' The Departed',
 ' Hotaru no haka',
 ' The Intouchables',
 ' The Prestige',
 ' Casablanca',
 ' Once Upon a Time in the West',
 ' Rear Window',
 ' Nuovo Cinema Paradiso',
 ' Alien',
 ' Apocalypse Now',
 ' Memento',
 ' Raiders of the Lost Ark',
 ' The Great Dictator',
 ' The Lives of Others',
 ' Django Unchained',
 ' Paths of Glory',
 ' Sunset Blvd.',
 ' WALL·E',
 ' The Shining',
 ' Witness for the Prosecution',
 ' Avengers: Infinity War',
 ' Joker',
 ' Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 ' Spider-Man: Into the Spider-Verse',
 ' Mononoke-hime',
 ' Oldeuboi',
 ' Hamilton',
 ' Pather Panchali',
 ' Once Upon a Time in America',
 ' Kimi no na wa.',
 ' The Dark Knight Rises',
 ' Aliens',
 ' Coco',
 ' Das Boot',
 ' Capharnaüm',
 ' Tengoku to jigoku',
 ' Avengers: Endgame',
 ' American Beauty',
 ' Toy Story',
 ' Braveheart',
 ' Amadeus',
 ' 3 Idiots',
 ' Inglourious Basterds',
 ' Good Will Hunting',
 ' Star Wars: Episode VI - Return of the Jedi',
 ' 2001: A Space Odyssey',
 ' Reservoir Dogs',
 ' M - Eine Stadt sucht einen Mörder',
 ' Taare Zameen Par',
 ' Citizen Kane',
 ' Vertigo',
 ' Requiem for a Dream',
 ' Jagten',
 " Singin' in the Rain",
 ' North by Northwest',
 ' Eternal Sunshine of the Spotless Mind',
 '  Idi i smotri']

In [18]:
year_list = []
for i in mtl1:
    year_list.append(i[-5:-1])
    
yl=year_list
yl

['1994',
 '1972',
 '1974',
 '2008',
 '1957',
 '1993',
 '2003',
 '1994',
 '1966',
 '2001',
 '1999',
 '1994',
 '2010',
 '2002',
 '1980',
 '1999',
 '1990',
 '1975',
 '1954',
 '1995',
 '1991',
 '2002',
 '1946',
 '1997',
 '1977',
 '1998',
 '2001',
 '1999',
 '2014',
 '2019',
 '1994',
 '1962',
 '1995',
 '2002',
 '1985',
 '1991',
 '1936',
 '1960',
 '1994',
 '1998',
 '1931',
 '2000',
 '2014',
 '2006',
 '1988',
 '2011',
 '2006',
 '1942',
 '1968',
 '1954',
 '1988',
 '1979',
 '1979',
 '2000',
 '1981',
 '1940',
 '2006',
 '2012',
 '1957',
 '1950',
 '2008',
 '1980',
 '1957',
 '2018',
 '2019',
 '1964',
 '2018',
 '1997',
 '2003',
 '2020',
 '1955',
 '1984',
 '2016',
 '2012',
 '1986',
 '2017',
 '1981',
 '2018',
 '1963',
 '2019',
 '1999',
 '1995',
 '1995',
 '1984',
 '2009',
 '2009',
 '1997',
 '1983',
 '1968',
 '1992',
 '1931',
 '2007',
 '1941',
 '1958',
 '2000',
 '2012',
 '1952',
 '1959',
 '2004',
 '1985']

In [19]:
movie_rating = soup.find_all('td', class_ = "ratingColumn imdbRating")
# movie_rating

In [20]:
movie_rating_list = []
for i in movie_rating:
    movie_rating_list.append(i.text.replace('\n',''))
    
mrl = movie_rating_list [ :100]
mrl

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [21]:
print(len(mtl3),len(yl),len(mrl))

100 100 100

In [22]:
import pandas as pd
top_100_movies = pd.DataFrame({})
top_100_movies['Name'] = mtl3
top_100_movies['IMDB Rating'] = mrl
top_100_movies['Year of Release'] = yl

In [23]:
top_100_movies

                                      Name IMDB Rating Year of Release
0                 The Shawshank Redemption         9.2            1994
1                            The Godfather         9.1            1972
2                   The Godfather: Part II         9.0            1974
3                          The Dark Knight         9.0            2008
4                             12 Angry Men         8.9            1957
..                                     ...         ...             ...
95                                  Jagten         8.3            2012
96                     Singin' in the Rain         8.3            1952
97                      North by Northwest         8.3            1959
98   Eternal Sunshine of the Spotless Mind         8.3            2004
99                            Idi i smotri         8.3            1985

[100 rows x 3 columns]

# -------------------------------------------QUESTION 3------------------------------------------

In [24]:
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page

In [25]:
soup = BeautifulSoup(page.content)
soup.prettify()
name = soup.find_all('td', class_='titleColumn')

In [26]:
name_list = []
for i in name:
    name_list.append(i.text.replace('\n','').strip())

nl1 = name_list[:100]

nl2 =[]
for i in nl1:
    nl2.append(i.replace(i[-6:],''))
nl2
nl3 = []
for i in nl2:
    nl3.append(i.replace(i[0:8],''))
nl3

['Pather Panchali',
 'Nayakan',
 'Anbe Sivam',
 'Pariyerum Perumal',
 'Golmaal',
 'Apur Sansar',
 'C/o Kancharapalem',
 'Drishyam 2',
 'Kireedam',
 ' Manichitrathazhu',
 ' Natsamrat',
 ' 96',
 ' Black Friday',
 ' Thevar Magan',
 ' Kumbalangi Nights',
 ' 3 Idiots',
 ' Visaaranai',
 ' Taare Zameen Par',
 ' Ratsasan',
 ' Jersey',
 ' Thalapathi',
 ' Soorarai Pottru',
 ' Dangal',
 ' Asuran',
 ' Devasuram',
 ' Aparajito',
 ' Kaithi',
 ' Jaane Bhi Do Yaaro',
 ' Pyaasa',
 ' Guide',
 ' Peranbu',
 ' Vada Chennai',
 ' Thani Oruvan',
 ' Kannathil Muthamittal',
 ' Chupke Chupke',
 ' Iruvar',
 ' Spadikam',
 ' Drishyam',
 ' Agent Sai Srinivasa Athreya',
 ' Vikram Vedha',
 ' Super Deluxe',
 ' Aruvi',
 ' Tumbbad',
 ' Mahanati',
 ' Khosla Ka Ghosla!',
 ' Anand',
 ' Pudhu Pettai',
 ' Premam',
 ' Kaakkaa Muttai',
 ' Anniyan',
 ' Andhadhun',
 ' Mudhalvan',
 ' Bangalore Days',
 ' Dhuruvangal Pathinaaru',
 ' Satya',
 ' Papanasam',
 ' Shahid',
 ' Soodhu Kavvum',
 ' Pithamagan',
 ' Jigarthanda',
 ' Gangs of Wasseypur',
 ' Sairat',
 ' Paan Singh Tomar',
 ' Bhaag Milkha Bhaag',
 ' Talvar',
 ' Hera Pheri',
 ' Swades: We, the People',
 ' Sholay',
 ' Black',
 ' Ustad Hotel',
 ' Chak De! India',
 ' Nil Battey Sannata',
 ' Jo Jeeta Wohi Sikandar',
 ' Charulata',
 ' Drishyam',
 ' Mughal-E-Azam',
 ' Maheshinte Prathikaaram',
 ' Zindagi Na Milegi Dobara',
 ' Article 15',
 ' Udaan',
 ' A Wednesday',
 ' Theeran adhigaaram ondru',
 ' Queen',
 ' Masaan',
 ' Sarfarosh',
 ' Munna Bhai M.B.B.S.',
 ' Alai Payuthey',
 ' Roja',
 ' Dil Chahta Hai',
 ' Baasha',
 ' OMG: Oh My God!',
 ' Rang De Basanti',
 ' Lagaan: Once Upon a Time in India',
 ' Kahaani',
 ' Andaz Apna Apna',
 ' Chhichhore',
 ' Uri: The Surgical Strike',
 ' Virumandi',
 ' PK',
 '  Lucia']

In [27]:
year_list = []
for i in nl1:
    year_list.append(i[-5:-1])
    
yl=year_list
len(yl)

100

In [28]:
rating = soup.find_all('td', class_ = "ratingColumn imdbRating")
# rating

In [29]:
rating_list = []
for i in rating:
    rating_list.append(i.text.replace('\n',''))
    
rl = rating_list [ :100]
len(rl)

100

In [30]:
import pandas as pd
top_indian_movies = pd.DataFrame({})
top_indian_movies['Name'] = nl3
top_indian_movies['IMDB Rating'] = rl
top_indian_movies['Year of Release'] = yl

top_indian_movies

                         Name IMDB Rating Year of Release
0             Pather Panchali         8.5            1955
1                     Nayakan         8.5            1987
2                  Anbe Sivam         8.5            2003
3           Pariyerum Perumal         8.5            2018
4                     Golmaal         8.5            1979
..                        ...         ...             ...
95                 Chhichhore         8.1            2019
96   Uri: The Surgical Strike         8.1            2018
97                  Virumandi         8.1            2004
98                         PK         8.1            2014
99                      Lucia         8.1            2013

[100 rows x 3 columns]

# ----------------------------------------QUESTION 4------------------------------------------------

In [31]:
page = requests.get("https://bookpage.com/reviews")
page

In [32]:
soup = BeautifulSoup(page.content)

In [33]:
book_name = soup.find_all('h4', class_='italic')
book_name_list=[]
for i in book_name:
    book_name_list.append(i.text.replace('★',''))
bnl = []
for i in book_name_list:
    bnl.append(i.replace('\n','').strip())
bnl = bnl[:5]
bnl

['All Our Hidden Gifts',
 'Americanon',
 'The Chosen and the Beautiful',
 'Rez Dogs',
 "Somebody's Daughter"]

In [34]:
author_name = soup.find_all('p', class_ = 'sans bold')
author_name_list = []
for i in author_name:
    author_name_list.append(i.text.replace('\n',''))
anl = author_name_list[:5]
anl

["Caroline O'Donoghue",
 'Jess McHugh',
 'Nghi Vo',
 'Joseph Bruchac',
 'Ashley C. Ford']

In [35]:
genre = soup.find_all('p', class_ = 'genre-links hidden-phone')
genre_list = []
for i in genre:
    genre_list.append(i.text.replace('\n',''))
gl = genre_list[:5]
gl

['YA / YA Fiction',
 'Nonfiction / American History / Literature',
 'Science Fiction & Fantasy / Historical Fantasy',
 "Children's / Middle Grade",
 'Nonfiction / Memoir']

In [36]:
book_review = soup.find_all('p', class_ = 'excerpt')
book_review
book_review_list = []
for i in book_review:
    book_review_list.append(i.text.replace('\n',''))
brl = book_review_list[:5]
brl

['p>When Maeve is tasked with cleaning out a storage space at school as a punishment for throwing her shoe at a teacher, she finds an old tarot deck.',
 'Jess McHugh’s book is essential reading—illuminating, engaging and absorbing. You’ll never look at the dictionary or cookbook on your shelf the same way.',
 '',
 '',
 'Somebody’s Daughter is part Midwestern Black girl bildungsroman and part family saga about the rippling effects of incarceration.']

In [37]:
book_info = pd.DataFrame({})
book_info['Book Name'] = bnl
book_info['Author Name'] = anl
book_info['Genre'] = gl
book_info['Review'] = brl

book_info

,Book Name,Author Name,Genre,Review
0,All Our Hidden Gifts,Caroline O'Donoghue,YA / YA Fiction,p>When Maeve is tasked with cleaning out a sto...
1,Americanon,Jess McHugh,Nonfiction / American History / Literature,Jess McHugh’s book is essential reading—illumi...
2,The Chosen and the Beautiful,Nghi Vo,Science Fiction & Fantasy / Historical Fantasy,
3,Rez Dogs,Joseph Bruchac,Children's / Middle Grade,
4,Somebody's Daughter,Ashley C. Ford,Nonfiction / Memoir,Somebody’s Daughter is part Midwestern Black g...

# -------------------------------------------- QUESTION 5-----------------------------------------------

## part (i)

In [38]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [39]:
soup = BeautifulSoup(page.content)

In [40]:
team = soup.find_all('span', class_='u-hide-phablet')
team_name =  []
for i in team:
    team_name.append(i.text.replace('\n',''))
team_name = team_name[:10]
team_name

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [41]:
match = soup.find('td', class_= 'rankings-block__banner--matches')
match = match.text.replace('\n','')
match

'17'

In [42]:
matches = soup.find_all('td', class_ = "table-body__cell u-center-text")
matches_list = []
for i in matches:
    matches_list.append(i.text.replace('\n',''))
matches_list = matches_list[:18:2]
matches_list

['25', '29', '27', '20', '24', '27', '27', '24', '17']

In [43]:
point = soup.find('td', class_= 'rankings-block__banner--points')
point = point.text.replace('\n','')
point

'2,054'

In [44]:
points = soup.find_all('td', class_ = "table-body__cell u-center-text")
points_list = []
for i in points:
    points_list.append(i.text.replace('\n',''))
points_list = points_list[1:19:2]
points_list

['2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,438',
 '2,222',
 '1,876',
 '1,054']

In [45]:
matches_list.insert(0,match)
matches_list

['17', '25', '29', '27', '20', '24', '27', '27', '24', '17']

In [46]:
points_list.insert(0,point)
points_list

['2,054',
 '2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,438',
 '2,222',
 '1,876',
 '1,054']

In [47]:
rating = soup.find('td', class_ = 'rankings-block__banner--rating u-text-right')
rating = rating.text.replace('\n','').strip()
rating

'121'

In [48]:
ratings = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
ratings_list = []
for i in ratings:
    ratings_list.append(i.text.replace('\n',''))
ratings_list = ratings_list[:9]
ratings_list

['118', '115', '115', '107', '97', '90', '82', '78', '62']

In [49]:
ratings_list.insert(0,rating)

In [50]:
ratings_list

['121', '118', '115', '115', '107', '97', '90', '82', '78', '62']

In [51]:
l = [team_name,matches_list,points_list,ratings_list]
for i in l:
    print(len(i))

10
10
10
10

In [52]:
ODI_mens_team = pd.DataFrame({})
ODI_mens_team['Team'] = team_name
ODI_mens_team['Matches'] = matches_list
ODI_mens_team['Points'] = points_list
ODI_mens_team['Ratings'] = ratings_list

In [53]:
ODI_mens_team

           Team Matches Points Ratings
0   New Zealand      17  2,054     121
1     Australia      25  2,945     118
2         India      29  3,344     115
3       England      27  3,100     115
4  South Africa      20  2,137     107
5      Pakistan      24  2,323      97
6    Bangladesh      27  2,438      90
7   West Indies      27  2,222      82
8     Sri Lanka      24  1,876      78
9   Afghanistan      17  1,054      62

## part (ii)

In [54]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

In [55]:
soup = BeautifulSoup(page.content)

In [56]:
player = soup.find('div', class_ = "rankings-block__banner--name-large")
player = player.text.replace('/n','')
player

'Babar Azam'

In [57]:
players = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
players_list = []
for i in players:
    players_list.append(i.text.replace('\n',''))
players_list = players_list[:9]
players_list.insert(0,player)
players_list

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope']

In [58]:
team = soup.find('div', class_ = 'rankings-block__banner--nationality')
team = team.text.replace('\n','').strip()
team

'PAK'

In [59]:
teams = soup.find_all('span', class_ = 'table-body__logo-text')
teams_list = []
for i in teams:
    teams_list.append(i.text.replace('\n',''))
teams_list.insert(0,team)
teams_list = teams_list[:10]
teams_list

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [60]:
rating = soup.find('div', class_ = 'rankings-block__banner--rating')
rating = rating.text
rating

'865'

In [61]:
ratings = soup.find_all('td', class_ = 'table-body__cell rating')
ratings_list = []
for i in ratings:
    ratings_list.append(i.text)
ratings_list.insert(0,rating)
ratings_list = ratings_list[:10]
ratings_list

['865', '857', '825', '801', '791', '785', '778', '778', '773', '773']

In [62]:
ODI_mensbatting_ranking = pd.DataFrame({})
ODI_mensbatting_ranking['Player'] = players_list
ODI_mensbatting_ranking['Team'] = teams_list
ODI_mensbatting_ranking['Rating'] = ratings_list
ODI_mensbatting_ranking

                Player Team Rating
0           Babar Azam  PAK    865
1          Virat Kohli  IND    857
2         Rohit Sharma  IND    825
3          Ross Taylor   NZ    801
4          Aaron Finch  AUS    791
5       Jonny Bairstow  ENG    785
6         Fakhar Zaman  PAK    778
7  Francois du Plessis   SA    778
8         David Warner  AUS    773
9            Shai Hope   WI    773

## part (iii)

In [63]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [64]:
soup = BeautifulSoup(page.content)

In [65]:
ply = soup.find('div', class_ = 'rankings-block__banner--name-large')
ply = ply.text
ply

'Trent Boult'

In [66]:
plys = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
plys_l = []
for i in plys:
    plys_l.append(i.text.replace('\n',''))
plys_l.insert(0,ply)
plys_l = plys_l[:10]
plys_l

['Trent Boult',
 'Mehedi Hasan',
 'Mujeeb Ur Rahman',
 'Matt Henry',
 'Jasprit Bumrah',
 'Kagiso Rabada',
 'Chris Woakes',
 'Josh Hazlewood',
 'Mustafizur Rahman',
 'Pat Cummins']

In [67]:
team = soup.find('div', class_ = 'rankings-block__banner--nationality')
team = team.text.replace('\n','').strip()
team

'NZ'

In [68]:
teams = soup.find_all('span', class_ = 'table-body__logo-text')
teams_list = []
for i in teams:
    teams_list.append(i.text.replace('\n',''))
teams_list.insert(0,team)
teams_list = teams_list[:10]
teams_list

['NZ', 'BAN', 'AFG', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'BAN', 'AUS']

In [69]:
rating = soup.find('div', class_ = 'rankings-block__banner--rating')
rating = rating.text
rating

'737'

In [70]:
ratings = soup.find_all('td', class_ = 'table-body__cell rating')
ratings_list = []
for i in ratings:
    ratings_list.append(i.text)
ratings_list.insert(0,rating)
ratings_list = ratings_list[:10]
ratings_list

['737', '725', '708', '691', '690', '666', '665', '660', '652', '646']

In [71]:
ODI_mensbowling_ranking = pd.DataFrame({})
ODI_mensbowling_ranking['Player'] = plys_l
ODI_mensbowling_ranking['Team'] = teams_list
ODI_mensbowling_ranking['Rating'] = ratings_list
ODI_mensbowling_ranking

              Player Team Rating
0        Trent Boult   NZ    737
1       Mehedi Hasan  BAN    725
2   Mujeeb Ur Rahman  AFG    708
3         Matt Henry   NZ    691
4     Jasprit Bumrah  IND    690
5      Kagiso Rabada   SA    666
6       Chris Woakes  ENG    665
7     Josh Hazlewood  AUS    660
8  Mustafizur Rahman  BAN    652
9        Pat Cummins  AUS    646

# ---------------------------------------------- Question 6 -----------------------------------------------

## part (i)

In [72]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [73]:
soup = BeautifulSoup(page.content)

In [74]:
team = soup.find_all('span', class_='u-hide-phablet')
team_name =  []
for i in team:
    team_name.append(i.text.replace('\n',''))
team_name = team_name[:10]
team_name

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [75]:
match = soup.find('td', class_= 'rankings-block__banner--matches')
match = match.text.replace('\n','')
matches = soup.find_all('td', class_ = "table-body__cell u-center-text")
matches_list = []
for i in matches:
    matches_list.append(i.text.replace('\n',''))
matches_list = matches_list[:18:2]
matches_list.insert(0,match)
matches_list

['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']

In [76]:
point = soup.find('td', class_= 'rankings-block__banner--points')
point = point.text.replace('\n','')
points = soup.find_all('td', class_ = "table-body__cell u-center-text")
points_list = []
for i in points:
    points_list.append(i.text.replace('\n',''))
points_list = points_list[1:19:2]
points_list.insert(0,point)
points_list

['2,955',
 '2,828',
 '1,993',
 '2,226',
 '1,947',
 '1,025',
 '1,101',
 '306',
 '519',
 '25']

In [77]:
rating = soup.find('td', class_ = 'rankings-block__banner--rating u-text-right')
rating = rating.text.replace('\n','').strip()
ratings = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
ratings_list = []
for i in ratings:
    ratings_list.append(i.text.replace('\n',''))
ratings_list = ratings_list[:9]
ratings_list.insert(0,rating)
ratings_list

['164', '118', '117', '111', '93', '85', '73', '61', '47', '13']

In [78]:
ODI_womens_team = pd.DataFrame({})
ODI_womens_team['Team'] = team_name
ODI_womens_team['Matches'] = matches_list
ODI_womens_team['Points'] = points_list
ODI_womens_team['Ratings'] = ratings_list
ODI_womens_team

           Team Matches Points Ratings
0     Australia      18  2,955     164
1  South Africa      24  2,828     118
2       England      17  1,993     117
3         India      20  2,226     111
4   New Zealand      21  1,947      93
5   West Indies      12  1,025      85
6      Pakistan      15  1,101      73
7    Bangladesh       5    306      61
8     Sri Lanka      11    519      47
9       Ireland       2     25      13

## part (ii)

In [79]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [80]:
soup = BeautifulSoup(page.content)

In [81]:
player = soup.find('div', class_ = "rankings-block__banner--name-large")
player = player.text.replace('/n','')
players = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
players_list = []
for i in players:
    players_list.append(i.text.replace('\n',''))
players_list = players_list[:9]
players_list.insert(0,player)
players_list

['Tammy Beaumont',
 'Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt']

In [82]:
team = soup.find('div', class_ = 'rankings-block__banner--nationality')
team = team.text.replace('\n','').strip()
teams = soup.find_all('span', class_ = 'table-body__logo-text')
teams_list = []
for i in teams:
    teams_list.append(i.text.replace('\n',''))
teams_list.insert(0,team)
teams_list = teams_list[:10]
teams_list

['ENG', 'SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']

In [83]:
rating = soup.find('div', class_ = 'rankings-block__banner--rating')
rating = rating.text
ratings = soup.find_all('td', class_ = 'table-body__cell rating')
ratings_list = []
for i in ratings:
    ratings_list.append(i.text)
ratings_list.insert(0,rating)
ratings_list = ratings_list[:10]
ratings_list

['765', '758', '756', '746', '723', '715', '710', '709', '685', '683']

In [84]:
ODI_womens_topplayer = pd.DataFrame({})
ODI_womens_topplayer['Player'] = players_list
ODI_womens_topplayer['Team'] = teams_list
ODI_womens_topplayer['Rating'] = ratings_list
ODI_womens_topplayer

              Player Team Rating
0     Tammy Beaumont  ENG    765
1        Lizelle Lee   SA    758
2       Alyssa Healy  AUS    756
3    Stafanie Taylor   WI    746
4        Meg Lanning  AUS    723
5  Amy Satterthwaite   NZ    715
6    Smriti Mandhana  IND    710
7        Mithali Raj  IND    709
8     Natalie Sciver  ENG    685
9    Laura Wolvaardt   SA    683

## part (iii)

In [85]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup = BeautifulSoup(page.content)
page

In [86]:
ply = soup.find('div', class_ = 'rankings-block__banner--name-large')
ply = ply.text
plys = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
plys_l = []
for i in plys:
    plys_l.append(i.text.replace('\n',''))
plys_l.insert(0,ply)
plys_l = plys_l[:10]
plys_l

['Marizanne Kapp',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr']

In [87]:
team = soup.find('div', class_ = 'rankings-block__banner--nationality')
team = team.text.replace('\n','').strip()
teams = soup.find_all('span', class_ = 'table-body__logo-text')
teams_list = []
for i in teams:
    teams_list.append(i.text.replace('\n',''))
teams_list.insert(0,team)
teams_list = teams_list[:10]
teams_list

['SA', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

In [88]:
rating = soup.find('div', class_ = 'rankings-block__banner--rating')
rating = rating.text
ratings = soup.find_all('td', class_ = 'table-body__cell rating')
ratings_list = []
for i in ratings:
    ratings_list.append(i.text)
ratings_list.insert(0,rating)
ratings_list = ratings_list[:10]
ratings_list

['418', '418', '410', '349', '343', '307', '252', '243', '242', '236']

In [89]:
ODI_womens_allrounder = pd.DataFrame({})
ODI_womens_allrounder['Player'] = plys_l
ODI_womens_allrounder['Team'] = teams_list
ODI_womens_allrounder['Rating'] = ratings_list
ODI_womens_allrounder

             Player Team Rating
0    Marizanne Kapp   SA    418
1      Ellyse Perry  AUS    418
2   Stafanie Taylor   WI    410
3    Natalie Sciver  ENG    349
4     Deepti Sharma  IND    343
5     Jess Jonassen  AUS    307
6  Ashleigh Gardner  AUS    252
7  Dane van Niekerk   SA    243
8     Sophie Devine   NZ    242
9       Amelia Kerr   NZ    236

# ------------------------------------------- QUESTION- 7 -----------------------------------------------

In [90]:
page = requests.get('https://www.amazon.in/s?k=mobile+phones+under+20000&i=electronics&rh=n%3A1805560031%2Cp_36%3A-2000000&qid=1622478681&rnid=1318502031&ref=sr_nr_p_36_4')
page

In [91]:
soup = BeautifulSoup(page.content)

In [92]:
prd_name = soup.find_all('span', class_= "a-size-medium a-color-base a-text-normal")
prd_name
prd_l = []
for i in prd_name:
    prd_l.append(i.text.replace('\n','').split('(')[0].strip())
prd_l

[]

In [93]:
prd_price = soup.find_all('span', class_ = "a-price-whole")
price_l = []
for i in prd_price:
    price_l.append(i.text)
price_l

[]

In [94]:
img_url = soup.find_all('img', class_ = 's-image') 
img_url_l = []
for i in img_url:
    img_url_l.append(i['src'])
img_url_l

[]

In [95]:
avg_rtn = soup.find_all('span', class_ = 'a-icon-alt')
avg_rtn_l = []
for i in avg_rtn:
    avg_rtn_l.append(i.text[:3])
avg_rtn_l

[]

In [96]:
l = [prd_l,price_l,img_url_l,avg_rtn_l]
for i in l:
    print(len(i))

0
0
0
0

In [97]:
prd_l = prd_l[:23]
price_l = price_l[:23]
img_url_l = img_url_l[:23]
avg_rtn_l = avg_rtn_l[:23]

In [98]:
l = [prd_l,price_l,img_url_l,avg_rtn_l]
for i in l:
    print(len(i))

0
0
0
0

In [99]:
Mob_u20k = pd.DataFrame({})
Mob_u20k['Product Name'] = prd_l
Mob_u20k['Price'] = price_l
Mob_u20k['Image URL'] = img_url_l
Mob_u20k['Average Rating'] = avg_rtn_l
Mob_u20k

Empty DataFrame
Columns: [Product Name, Price, Image URL, Average Rating]
Index: []

# ----------------------------------------Question 8-------------------------------------------------------

In [100]:
page = requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YLUeCKgzZPY')
page

In [101]:
soup = BeautifulSoup(page.content)

In [102]:
day = soup.find_all('div', class_ = 'col-sm-2 forecast-label')
day_l = []
for i in day:
    day_l.append(i.text)
day_l = day_l[::2]
day_l

['Memorial Day',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday']

In [103]:
sh_des = soup.find_all('div', class_ = 'col-sm-10 forecast-text')
sh_des_l = []
for i in sh_des:
    sh_des_l.append(i.text.split(',')[0])
sh_des_l = sh_des_l[::2]
sh_des_l

['Sunny',
 'Sunny',
 'Mostly sunny',
 'Mostly sunny',
 'Mostly sunny',
 'Sunny',
 'Sunny']

In [104]:
temp = soup.find_all('div', class_ = 'col-sm-10 forecast-text')
temp_l = []
for i in temp:
    temp_l.append(i.text.split('.')[0].split(' ')[-1])
temp_l = temp_l[::2]
temp_l

['69', '69', '65', '66', '66', '68', '68']

In [105]:
desc = soup.find_all('div', class_ = 'col-sm-10 forecast-text')
desc_l = []
for i in desc:
    desc_l.append(i.text.split('.')[1])
desc_l = desc_l[::2]
desc_l

[' Breezy, with a west southwest wind 7 to 12 mph increasing to 19 to 24 mph',
 ' Breezy, with a west southwest wind 15 to 24 mph, with gusts as high as 32 mph',
 ' Breezy, with a west southwest wind 15 to 22 mph, with gusts as high as 29 mph',
 '',
 '',
 '',
 '']

In [106]:
SF_Forecast = pd.DataFrame({})
SF_Forecast['Day (Period)'] = day_l
SF_Forecast['Short Description'] = sh_des_l
SF_Forecast['Temperature'] = temp_l
SF_Forecast['Description'] = desc_l
SF_Forecast

,Day (Period),Short Description,Temperature,Description
0,Memorial Day,Sunny,69,"Breezy, with a west southwest wind 7 to 12 mp..."
1,Tuesday,Sunny,69,"Breezy, with a west southwest wind 15 to 24 m..."
2,Wednesday,Mostly sunny,65,"Breezy, with a west southwest wind 15 to 22 m..."
3,Thursday,Mostly sunny,66,
4,Friday,Mostly sunny,66,
5,Saturday,Sunny,68,
6,Sunday,Sunny,68,

# --------------------------------------- Question 9 -----------------------------------------------------

In [107]:
page = requests.get('https://internshala.com/fresher-jobs')
page

In [108]:
soup = BeautifulSoup(page.content)

In [109]:
job_title = soup.find_all('div', class_ = 'heading_4_5 profile')
jtl = []
for i in job_title:
    jtl.append(i.text.replace('\n',''))
jtl

['Admission Counselor (Sales) ',
 'Sales And Business Development Analyst ',
 'Growth Hacking Digital Marketer ',
 'Junior Node.js Developer ',
 'Junior Digital Marketing Executive ',
 'iOS App Developer ',
 'Food Journalist ',
 'Junior Software Developer ',
 'Full Stack Developer ',
 'Business Analyst ',
 'Associate Full Stack Developer ',
 'Full Stack Engineer ',
 'Product Marketer ',
 'Business Development Executive ',
 'Associate - Business Development ',
 'Research Analyst (Economics) ',
 'Machine Learning Engineer ',
 'Business Analyst ',
 'Business Development Executive (Inside Sales) ',
 'Business Development Associate ',
 'Full Stack Software Engineer ',
 'Associate Front End Developer ',
 'Social Media Marketing Manager ',
 'Talent Acquisition Executive ',
 'Full Stack Developer ',
 'Backend Developer ',
 'Full Stack Developer ',
 'Junior Sales Associate ',
 'Digital Marketing Specialist ',
 'Android App Developer ',
 'Associate Data Scientist ',
 'Junior Software Developer ',
 'Associate Software Developer ',
 'Full Stack Developer ',
 'Associate UI/UX Designer ',
 'Web Development Trainee ',
 'Business Development Executive ',
 'Full Stack Flutter Developer ',
 'Associate Software Developer ',
 'Hardware Simulation Engineer ']

In [110]:
comp_name = soup.find_all('div', class_ = 'heading_6 company_name')
comp_name_l = []
for i in comp_name:
    comp_name_l.append(i.text.replace('\n','').strip())
comp_name_l

['Sky Education Group',
 "Mo's F&B Group",
 'Sleep Love',
 'Askadmissions.ai',
 'Krivy',
 'Ascentspark Software Private Limited',
 'Truffle Nation',
 'Habitate Technologies Private Limited',
 'SoluLab',
 'SoluLab',
 'REPOZITORY TECHNOLOGIES PRIVATE LIMITED',
 'Beehive Academy India',
 'Bip',
 'Tabeazy',
 'Leverage Edu',
 'DEX-DEFT Research And Consulting OPC Private Limited',
 'AIMonk Labs Technology Limited',
 'Kasper Consulting Private Limited',
 'GREedge',
 'PEPKIDZ LEARNING',
 'Flair Labs',
 'Little Big Things',
 'Little Olive',
 'CrewKarma',
 'Codfirm',
 'WebMOBI',
 'TMBill Software',
 'Kraftshala',
 'Black Jack',
 'Storlyy',
 'Softsensor.ai',
 'ZoryBoard Software Solutions',
 'SNet Labs Private Limited',
 'RavGins International Private Limited (Wobb.ai)',
 'RavGins International Private Limited (Wobb.ai)',
 'Softsensor.ai',
 'Square Select Estates',
 'HeartShirt',
 'Labellerr By Tensor Matics Private Limited',
 'Keysight Technologies']

In [111]:
ctc = soup.find_all('div', class_ = 'other_detail_item')
ctcl = []
for i in ctc:
    ctcl.append(i.text.replace('\n','').strip())
ctcl

['Start date                            Starts\xa0Immediately',
 'CTC  3 LPA',
 "Apply By30 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 3.1 LPA',
 "Apply By30 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 3.5 LPA',
 "Apply By30 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 4 LPA',
 "Apply By30 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 LPA',
 "Apply By30 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3.6 - 7 LPA',
 "Apply By30 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 4.5 LPA',
 "Apply By30 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  5.2 - 7 LPA',
 "Apply By30 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 5 LPA',
 "Apply By28 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 4.2 LPA',
 "Apply By28 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 3.6 LPA',
 "Apply By30 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  4.2 - 8.2 LPA',
 "Apply By28 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 6 LPA',
 "Apply By27 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 LPA',
 "Apply By27 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3.6 LPA',
 "Apply By27 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 LPA',
 "Apply By30 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  5 - 6.5 LPA',
 "Apply By27 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3.25 - 4 LPA',
 "Apply By26 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3.75 LPA',
 "Apply By26 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 4 LPA',
 "Apply By25 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 4 LPA',
 "Apply By25 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 5 LPA',
 "Apply By25 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 3.2 LPA',
 "Apply By25 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 5 LPA',
 "Apply By24 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  5 - 8 LPA',
 "Apply By24 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 LPA',
 "Apply By24 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 LPA',
 "Apply By24 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  4 LPA',
 "Apply By24 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 5 LPA',
 "Apply By24 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 3.5 LPA',
 "Apply By23 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  4 - 8 LPA',
 "Apply By24 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 4 LPA',
 "Apply By20 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 3.2 LPA',
 "Apply By20 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3.3 - 4 LPA',
 "Apply By20 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 4 LPA',
 "Apply By20 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 5 LPA',
 "Apply By20 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 5 LPA',
 "Apply By19 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  3 - 3.5 LPA',
 "Apply By19 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  7 - 10 LPA',
 "Apply By23 Jun' 21",
 'Start date                            Starts\xa0Immediately',
 'CTC  4 - 7 LPA',
 "Apply By19 Jun' 21"]

In [112]:
ctcl2 = []
for i in ctcl:
    if i[0] == 'C':
        ctcl2.append(i[5:])
    else:
        continue
ctcl2

['3 LPA',
 '3 - 3.1 LPA',
 '3 - 3.5 LPA',
 '3 - 4 LPA',
 '3 LPA',
 '3.6 - 7 LPA',
 '3 - 4.5 LPA',
 '5.2 - 7 LPA',
 '3 - 5 LPA',
 '3 - 4.2 LPA',
 '3 - 3.6 LPA',
 '4.2 - 8.2 LPA',
 '3 - 6 LPA',
 '3 LPA',
 '3.6 LPA',
 '3 LPA',
 '5 - 6.5 LPA',
 '3.25 - 4 LPA',
 '3.75 LPA',
 '3 - 4 LPA',
 '3 - 4 LPA',
 '3 - 5 LPA',
 '3 - 3.2 LPA',
 '3 - 5 LPA',
 '5 - 8 LPA',
 '3 LPA',
 '3 LPA',
 '4 LPA',
 '3 - 5 LPA',
 '3 - 3.5 LPA',
 '4 - 8 LPA',
 '3 - 4 LPA',
 '3 - 3.2 LPA',
 '3.3 - 4 LPA',
 '3 - 4 LPA',
 '3 - 5 LPA',
 '3 - 5 LPA',
 '3 - 3.5 LPA',
 '7 - 10 LPA',
 '4 - 7 LPA']

In [113]:
apply_date_l = []
for i in ctcl:
    if i[0] == 'A':
        apply_date_l.append(i[8:])
    else:
        continue
apply_date_l

["30 Jun' 21",
 "30 Jun' 21",
 "30 Jun' 21",
 "30 Jun' 21",
 "30 Jun' 21",
 "30 Jun' 21",
 "30 Jun' 21",
 "30 Jun' 21",
 "28 Jun' 21",
 "28 Jun' 21",
 "30 Jun' 21",
 "28 Jun' 21",
 "27 Jun' 21",
 "27 Jun' 21",
 "27 Jun' 21",
 "30 Jun' 21",
 "27 Jun' 21",
 "26 Jun' 21",
 "26 Jun' 21",
 "25 Jun' 21",
 "25 Jun' 21",
 "25 Jun' 21",
 "25 Jun' 21",
 "24 Jun' 21",
 "24 Jun' 21",
 "24 Jun' 21",
 "24 Jun' 21",
 "24 Jun' 21",
 "24 Jun' 21",
 "23 Jun' 21",
 "24 Jun' 21",
 "20 Jun' 21",
 "20 Jun' 21",
 "20 Jun' 21",
 "20 Jun' 21",
 "20 Jun' 21",
 "19 Jun' 21",
 "19 Jun' 21",
 "23 Jun' 21",
 "19 Jun' 21"]

In [114]:
fresher_jobs = pd.DataFrame({})
fresher_jobs['Job Title'] = jtl
fresher_jobs['Comapny Name'] = comp_name_l
fresher_jobs['CTC'] = ctcl2
fresher_jobs['Apply by'] = apply_date_l
fresher_jobs

,Job Title,Comapny Name,CTC,Apply by
0,Admission Counselor (Sales),Sky Education Group,3 LPA,30 Jun' 21
1,Sales And Business Development Analyst,Mo's F&B Group,3 - 3.1 LPA,30 Jun' 21
2,Growth Hacking Digital Marketer,Sleep Love,3 - 3.5 LPA,30 Jun' 21
3,Junior Node.js Developer,Askadmissions.ai,3 - 4 LPA,30 Jun' 21
4,Junior Digital Marketing Executive,Krivy,3 LPA,30 Jun' 21
5,iOS App Developer,Ascentspark Software Private Limited,3.6 - 7 LPA,30 Jun' 21
6,Food Journalist,Truffle Nation,3 - 4.5 LPA,30 Jun' 21
7,Junior Software Developer,Habitate Technologies Private Limited,5.2 - 7 LPA,30 Jun' 21
8,Full Stack Developer,SoluLab,3 - 5 LPA,28 Jun' 21
9,Business Analyst,SoluLab,3 - 4.2 LPA,28 Jun' 21
10,Associate Full Stack Developer,REPOZITORY TECHNOLOGIES PRIVATE LIMITED,3 - 3.6 LPA,30 Jun' 21
11,Full Stack Engineer,Beehive Academy India,4.2 - 8.2 LPA,28 Jun' 21
12,Product Marketer,Bip,3 - 6 LPA,27 Jun' 21
13,Business Development Executive,Tabeazy,3 LPA,27 Jun' 21
14,Associate - Business Development,Leverage Edu,3.6 LPA,27 Jun' 21
15,Research Analyst (Economics),DEX-DEFT Research And Consulting OPC Private L...,3 LPA,30 Jun' 21
16,Machine Learning Engineer,AIMonk Labs Technology Limited,5 - 6.5 LPA,27 Jun' 21
17,Business Analyst,Kasper Consulting Private Limited,3.25 - 4 LPA,26 Jun' 21
18,Business Development Executive (Inside Sales),GREedge,3.75 LPA,26 Jun' 21
19,Business Development Associate,PEPKIDZ LEARNING,3 - 4 LPA,25 Jun' 21
20,Full Stack Software Engineer,Flair Labs,3 - 4 LPA,25 Jun' 21
21,Associate Front End Developer,Little Big Things,3 - 5 LPA,25 Jun' 21
22,Social Media Marketing Manager,Little Olive,3 - 3.2 LPA,25 Jun' 21
23,Talent Acquisition Executive,CrewKarma,3 - 5 LPA,24 Jun' 21
24,Full Stack Developer,Codfirm,5 - 8 LPA,24 Jun' 21
25,Backend Developer,WebMOBI,3 LPA,24 Jun' 21
26,Full Stack Developer,TMBill Software,3 LPA,24 Jun' 21
27,Junior Sales Associate,Kraftshala,4 LPA,24 Jun' 21
28,Digital Marketing Specialist,Black Jack,3 - 5 LPA,24 Jun' 21
29,Android App Developer,Storlyy,3 - 3.5 LPA,23 Jun' 21
30,Associate Data Scientist,Softsensor.ai,4 - 8 LPA,24 Jun' 21
31,Junior Software Developer,ZoryBoard Software Solutions,3 - 4 LPA,20 Jun' 21
32,Associate Software Developer,SNet Labs Private Limited,3 - 3.2 LPA,20 Jun' 21
33,Full Stack Developer,RavGins International Private Limited (Wobb.ai),3.3 - 4 LPA,20 Jun' 21
34,Associate UI/UX Designer,RavGins International Private Limited (Wobb.ai),3 - 4 LPA,20 Jun' 21
35,Web Development Trainee,Softsensor.ai,3 - 5 LPA,20 Jun' 21
36,Business Development Executive,Square Select Estates,3 - 5 LPA,19 Jun' 21
37,Full Stack Flutter Developer,HeartShirt,3 - 3.5 LPA,19 Jun' 21
38,Associate Software Developer,Labellerr By Tensor Matics Private Limited,7 - 10 LPA,23 Jun' 21
39,Hardware Simulation Engineer,Keysight Technologies,4 - 7 LPA,19 Jun' 21

# ---------------------------------------------- END---------------------------------------------------------