In [243]:
from selenium import webdriver
import pandas as pd
import numpy as np

In [244]:
chrome_driver_path = "C:\devlopement\chromedriver.exe"

In [245]:
driver = webdriver.Chrome(executable_path=chrome_driver_path)

# ----------------------------------------------Question 1-------------------------------------------------

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
job = driver.find_element_by_id('qsb-keyword-sugg')
job.send_keys('Data Analyst')

In [7]:
loc = driver.find_element_by_id('qsb-location-sugg')
loc.send_keys('Banglore')

In [8]:
btn = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
btn.click()

In [38]:
titles = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [14]:
titles_list = []
for i in titles:
    titles_list.append(i.text)

titles_list = titles_list[:10] 
titles_list

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Analyst - Data Lineage',
 'Data analysts',
 'Data Analyst - Informatica MDM',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data analysts',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Category Demand Management (Revenue & Growth)']

In [39]:
company = driver.find_elements_by_xpath("//div[@class = 'mt-7 companyInfo subheading lh16']")

In [17]:
company_list = []
for i in company:
    company_list.append(i.text.replace('\n',''))
company_list = company_list[:10]
company_list

['Inflexion Analytix Private Limited',
 'Opex Global Services',
 'IBM India Pvt. Limited4.0(9831 Reviews)',
 'Shell India Markets Private Limited4.1(665 Reviews)',
 'Mind Circus Innovation',
 'IBM India Pvt. Limited4.0(9831 Reviews)',
 'dotSolved India Pvt., Ltd.',
 'Myntra Designs Pvt. Ltd.4.1(761 Reviews)',
 'Myntra Designs Pvt. Ltd.4.1(761 Reviews)',
 'Myntra Designs Pvt. Ltd.4.1(761 Reviews)']

In [33]:
exp = driver.find_elements_by_xpath("//span[@class = 'ellipsis fleft fs12 lh16']")
exp_list = []
for i in exp:
    exp_list.append(i.text)
len(exp_list)

60

In [40]:
experience = exp_list[0:30:3]
location = exp_list[2:32:3]

In [42]:
job_df = pd.DataFrame()
job_df['Position'] = titles_list
job_df['Company'] = company_list
job_df['Experience'] = experience
job_df['Location /s'] = location
job_df

,Position,Company,Experience,Location /s
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Senior Data Analyst - Data Lineage,Opex Global Services,5-10 Yrs,Bangalore/Bengaluru
2,Data analysts,IBM India Pvt. Limited4.0(9831 Reviews),5-6 Yrs,Bengaluru/Bangalore
3,Data Analyst - Informatica MDM,Shell India Markets Private Limited4.1(665 Rev...,6-9 Yrs,Bangalore/Bengaluru
4,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Mind Circus Innovation,0-1 Yrs,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru"
5,Data analysts,IBM India Pvt. Limited4.0(9831 Reviews),3-5 Yrs,Bangalore/Bengaluru
6,Business Data Analyst,"dotSolved India Pvt., Ltd.",9-13 Yrs,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)"
7,Data Analyst,Myntra Designs Pvt. Ltd.4.1(761 Reviews),3-5 Yrs,Bangalore/Bengaluru
8,Data Analyst,Myntra Designs Pvt. Ltd.4.1(761 Reviews),3-8 Yrs,Bangalore/Bengaluru
9,Data Analyst - Category Demand Management (Rev...,Myntra Designs Pvt. Ltd.4.1(761 Reviews),1-4 Yrs,Bangalore/Bengaluru

# -------------------------------------------Question 2----------------------------------------------------

In [60]:
from selenium.common.exceptions import NoSuchElementException
import time

In [61]:
driver.get("https://www.naukri.com/")

In [62]:
job = driver.find_element_by_id('qsb-keyword-sugg')
job.send_keys('Data Scientist')

In [63]:
loc = driver.find_element_by_id('qsb-location-sugg')
loc.send_keys('Banglore')

In [64]:
btn = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
btn.click()

In [50]:
job_title = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_title_list = []
for i in job_title:
    job_title_list.append(i.text)
job_title_list = job_title_list[:10]
job_title_list

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'VP - Sr. Data Scientist For Morgan Stanley, Bangalore',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'data scientist',
 'Data analytics / Data scientist intern (work from Home)',
 'Data Scientist - IBM Garage',
 'Digital Enterprise Architect (Data Scientist)']

In [51]:
company = driver.find_elements_by_xpath("//div[@class = 'mt-7 companyInfo subheading lh16']")
comp_list = []
for i in company:
    comp_list.append(i.text.replace('\n',''))
comp_list = comp_list[:10]
comp_list

['Inflexion Analytix Private Limited',
 'RedBus4.0(85 Reviews)',
 'Fractal Analytics3.9(94 Reviews)',
 'Morgan Stanley Advantage Services3.6(263 Reviews)',
 'FICO3.8(59 Reviews)',
 'Fractal Analytics3.9(94 Reviews)',
 'Global Talent Pool',
 'TalkValley LLC',
 'IBM India Pvt. Limited4.0(9831 Reviews)',
 'Mphasis Limited3.7(2955 Reviews)']

In [54]:
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_list = []
for i in loc:
    loc_list.append(i.text)
loc_list = loc_list[:10]
loc_list

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru']

In [65]:
page_urls = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
urls=[]
for i in page_urls:
    urls.append(i.get_attribute('href'))

In [66]:
urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16238483537648562&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-090621001584?src=jobsearchDesk&sid=16238483537648562&xp=2&px=1',
 'https://www.naukri.com/job-listings-immediate-opening-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-140621005528?src=jobsearchDesk&sid=16238483537648562&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-5-to-9-years-140621500966?src=jobsearchDesk&sid=16238483537648562&xp=4&px=1',
 'https://www.naukri.com/job-listings-vp-sr-data-scientist-for-morgan-stanley-bangalore-morgan-stanley-advantage-services-pvt-ltd-bangalore-bengaluru-8-to-13-years-010621002131?src=jobsearchDesk&sid=16238483537648562&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fico-bangalore-bengaluru-6-to-11-years-090621500701?src=jobsearchDesk&sid=16238483537648562&xp=6&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fractal-analytics-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-10-to-15-years-110621003012?src=jobsearchDesk&sid=16238483537648562&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-analytics-data-scientist-intern-work-from-home-talkvalley-llc-kolkata-bangalore-bengaluru-delhi-ncr-0-to-5-years-050621000128?src=jobsearchDesk&sid=16238483537648562&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-bengaluru-bangalore-2-to-6-years-080621904251?src=jobsearchDesk&sid=16238483537648562&xp=9&px=1',
 'https://www.naukri.com/job-listings-digital-enterprise-architect-data-scientist-mphasis-limited-bangalore-bengaluru-10-to-13-years-030621902728?src=jobsearchDesk&sid=16238483537648562&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-020621905994?src=jobsearchDesk&sid=16238483537648562&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-030621907010?src=jobsearchDesk&sid=16238483537648562&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16238483537648562&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-8-to-10-years-020621500403?src=jobsearchDesk&sid=16238483537648562&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-execboardinasia-bangalore-bengaluru-5-to-10-years-030621500359?src=jobsearchDesk&sid=16238483537648562&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-with-python-next-bee-corporation-kolkata-chandigarh-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-6-to-10-years-140621002374?src=jobsearchDesk&sid=16238483537648562&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-publicis-groupe-bangalore-bengaluru-2-to-5-years-140621501233?src=jobsearchDesk&sid=16238483537648562&xp=17&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-intelligent-industrial-internet-systems-pvt-ltd-bangalore-bengaluru-mumbai-all-areas-3-to-6-years-030621003155?src=jobsearchDesk&sid=16238483537648562&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-visualization-aruba-networks-bangalore-bengaluru-4-to-8-years-090621501101?src=jobsearchDesk&sid=16238483537648562&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-3-to-7-years-070621501457?src=jobsearchDesk&sid=16238483537648562&xp=20&px=1']

In [79]:
# my solution
job_desc_list = []   
for i in urls[:10]:
    driver.get(i)
    job_desc = driver.find_elements_by_class_name("job-desc")
    for j in job_desc:
        job_desc_list.append(j.text.replace('\n',' '))

In [81]:
len(job_desc_list)

10

In [77]:
job_desc_df = pd.DataFrame()
job_desc_df['Job Title'] = job_title_list
job_desc_df['Company'] = comp_list
job_desc_df['Location'] = loc_list
job_desc_df['Job Description'] = job_desc_list

job_desc_df

,Job Title,Company,Location,Job Description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job description Job Role : Data Scientist/Data...
1,Senior Data Scientist,RedBus4.0(85 Reviews),Bangalore/Bengaluru,SENIOR DATA SCIENTIST from 5 to 8 year(s) of E...
2,Senior Data Scientist,Fractal Analytics3.9(94 Reviews),"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",IMMEDIATE JOB OPENING – SENIOR DATA SCIENTIST ...
3,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Morgan Stanley Advantage Services3.6(263 Reviews),Bangalore/Bengaluru,Job description Serve as primary technical lea...
4,Lead Data Scientist,FICO3.8(59 Reviews),Bangalore/Bengaluru,Job description About Us Morgan Stanley is a l...
5,Lead Data Scientist,Fractal Analytics3.9(94 Reviews),"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Job description Job Summary The candidate shou...
6,data scientist,Global Talent Pool,Bangalore/Bengaluru,Job description Position Description: The Arti...
7,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",Job description We are a group of tenured prof...
8,Data Scientist - IBM Garage,IBM India Pvt. Limited4.0(9831 Reviews),Bengaluru/Bangalore,DATA SCIENTIST – IBM GARAGE from 2 to 6 year(s...
9,Digital Enterprise Architect (Data Scientist),Mphasis Limited3.7(2955 Reviews),Bangalore/Bengaluru,DIGITAL ENTERPRISE ARCHITECT (DATA SCIENTIST) ...

In [86]:
# provided solution
position = []
job_description = []
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    # fetching job title
    try:
        job = driver.find_element_by_xpath("//h1[@class = 'jd-header-title']")
        position.append(job.text)
    except NoSuchElementException:
        position.append('NA')
    # fetching job description
    try:
        job_descr = driver.find_element_by_xpath("//section[@class = 'job-desc']")
        job_description.append(job_descr.text)
    except NoSuchElementException:
            job_description.append('NA')

In [87]:
print(len(position))
print(len(job_description))
print(len(loc_list))
print(len(comp_list))

10
10
10
10

In [89]:
job_desc_df2 = pd.DataFrame()
job_desc_df2['Job Title'] = position
job_desc_df2['Company'] = comp_list
job_desc_df2['Location'] = loc_list
job_desc_df2['Job Description'] = job_description

job_desc_df2

,Job Title,Company,Location,Job Description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job description\nJob Role : Data Scientist/Dat...
1,NA,RedBus4.0(85 Reviews),Bangalore/Bengaluru,NA
2,NA,Fractal Analytics3.9(94 Reviews),"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",NA
3,Senior Data Scientist,Morgan Stanley Advantage Services3.6(263 Reviews),Bangalore/Bengaluru,Job description\nServe as primary technical le...
4,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",FICO3.8(59 Reviews),Bangalore/Bengaluru,Job description\nAbout Us\nMorgan Stanley is a...
5,Lead Data Scientist,Fractal Analytics3.9(94 Reviews),"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Job description\nJob Summary\nThe candidate sh...
6,Lead Data Scientist,Global Talent Pool,Bangalore/Bengaluru,Job description\nPosition Description:\nThe Ar...
7,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",Job description\nWe are a group of tenured pro...
8,NA,IBM India Pvt. Limited4.0(9831 Reviews),Bengaluru/Bangalore,NA
9,NA,Mphasis Limited3.7(2955 Reviews),Bangalore/Bengaluru,NA

# ---------------------------------------- Question 3 -----------------------------------------------------

In [94]:
driver.get("https://www.naukri.com/")

In [95]:
job = driver.find_element_by_id('qsb-keyword-sugg')
job.send_keys('Data Analyst')

In [96]:
btn = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
btn.click()

In [98]:
check_box = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/i')
check_box.click()

In [99]:
check_box2 = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i')
check_box2.click()

In [100]:
titles = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles_list = []
for i in titles:
    titles_list.append(i.text)

titles_list = titles_list[:10] 
titles_list

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst / Business Analytics / MIS Analyst - Fresher Jobs - MNC',
 'Business Data Analyst',
 'Senior Data Analyst',
 'Business Analytics / Data Analyst / Fresher Analyst - Job - MNC',
 'Urgent Opening For Data Analyst - Business Excellence Team- Noida',
 'Job Opportunity For Talent Data Analyst - Cornerstone OnDemand',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst/Scientist Big Data, Statistical Techniques']

In [101]:
company = driver.find_elements_by_xpath("//div[@class = 'mt-7 companyInfo subheading lh16']")
company_list = []
for i in company:
    company_list.append(i.text.replace('\n',''))
company_list = company_list[:10]
company_list

['Inflexion Analytix Private Limited',
 'GABA Consultancy services',
 'Incuspaze Solutions Private Limited',
 'Eli Research India Private limited3.3(398 Reviews)',
 'GABA Consultancy services',
 'Ison Bpo India Pvt Ltd3.6(478 Reviews)',
 'Cornerstone OnDemand Services India Pvt Ltd4.4(14 Reviews)',
 'Eli Research India Private limited3.3(398 Reviews)',
 'Metrichive Private Limited',
 'The Search House (A Div of JSD Search House Pvt. L td.)2.3(4 Reviews)']

In [102]:
exp = driver.find_elements_by_xpath("//span[@class = 'ellipsis fleft fs12 lh16']")
exp_list = []
for i in exp:
    exp_list.append(i.text)
len(exp_list)

60

In [103]:
experience = exp_list[0:30:3]
location = exp_list[2:32:3]

In [106]:
job_df3 = pd.DataFrame()
job_df3['Job Title'] = titles_list
job_df3['Company'] = company_list
job_df3['Experience'] = experience
job_df3['Location /s'] = location
job_df3

,Job Title,Company,Experience,Location /s
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Analyst / Business Analytics / MIS Analys...,GABA Consultancy services,0-5 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
2,Business Data Analyst,Incuspaze Solutions Private Limited,3-4 Yrs,Gurgaon/Gurugram
3,Senior Data Analyst,Eli Research India Private limited3.3(398 Revi...,3-5 Yrs,"Hyderabad/Secunderabad, Faridabad"
4,Business Analytics / Data Analyst / Fresher An...,GABA Consultancy services,0-5 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
5,Urgent Opening For Data Analyst - Business Exc...,Ison Bpo India Pvt Ltd3.6(478 Reviews),2-5 Yrs,Noida
6,Job Opportunity For Talent Data Analyst - Corn...,Cornerstone OnDemand Services India Pvt Ltd4.4...,3-5 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D..."
7,Data Analyst,Eli Research India Private limited3.3(398 Revi...,2-4 Yrs,"Hyderabad/Secunderabad, Faridabad"
8,Data Analyst,Metrichive Private Limited,3-4 Yrs,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
9,"Data Analyst/Scientist Big Data, Statistical T...",The Search House (A Div of JSD Search House Pv...,2-7 Yrs,Gurgaon/Gurugram

# -----------------------------------------------Question 4------------------------------------------------

In [31]:
import time
from selenium.common.exceptions import NoSuchElementException

In [25]:
driver.get('https://www.glassdoor.co.in/index.htm')
time.sleep(5)
try:
    job_btn =  driver.find_element_by_xpath('/html/body/footer/div/div/div[1]/span[3]/a')
    job_btn.click()
except ElementClickInterceptedException as e:
    print('Exception Raised: ' , e)

try:
    job = driver.find_element_by_xpath('//input[@class="css-1etjok6"]')
    job.click()
except NoSuchElementException as e:
    print('Exception Raised: ', e)

In [26]:
job_search = driver.find_element_by_id("scKeyword")

In [27]:
job_search.send_keys('Data Scientist')

In [28]:
loc_search = driver.find_element_by_id("scLocation")
loc_search.send_keys('Noida')

In [33]:
time.sleep(3)
try:
    btn = driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[3]/div[4]/div[2]/form/div[2]/div[1]/button')
    btn.click()
except NoSuchElementException as e:
    print('Exception Raised: ', e)

In [37]:
comp_name = driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]')
comp_name_list = []
for c in comp_name:
    comp_name_list.append(c.text)
comp_name_list = comp_name_list[:10]
comp_name_list

['Bechtel',
 'Ericsson',
 'Data Patterns',
 'Crowe',
 'Biz2Credit Inc',
 'Priority Vendor',
 'xtLytics',
 'Lantern Digital Services',
 'Techlive',
 'United Airlines Inc.']

In [40]:
job_age = driver.find_elements_by_xpath('//div[@data-test="job-age"]')
job_age_list = []
for j in job_age:
    job_age_list.append(j.text)
job_age_list = job_age_list[:10]
job_age_list

['16d', '24h', '2d', '14d', '22d', '14d', '24h', '8d', '20d', '5d']

In [42]:
comp_rating = driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
comp_rating_list = []
for r in comp_rating:
    comp_rating_list.append(r.text)
comp_rating_list = comp_rating_list[:10]
comp_rating_list

['3.9', '4.1', '3.0', '3.8', '3.7', '3.7', '3.5', '5.0', '4.1', '3.0']

In [43]:
glassdoor_df = pd.DataFrame()
glassdoor_df['Company'] = comp_name_list
glassdoor_df['Job Posted Age'] = job_age_list
glassdoor_df['Company Rating'] = comp_rating_list

In [44]:
glassdoor_df

                    Company Job Posted Age Company Rating
0                   Bechtel            16d            3.9
1                  Ericsson            24h            4.1
2             Data Patterns             2d            3.0
3                     Crowe            14d            3.8
4            Biz2Credit Inc            22d            3.7
5           Priority Vendor            14d            3.7
6                  xtLytics            24h            3.5
7  Lantern Digital Services             8d            5.0
8                  Techlive            20d            4.1
9      United Airlines Inc.             5d            3.0

# ------------------------------------------------Question 5-----------------------------------------------

In [46]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [50]:
time.sleep(5)
try:
    job_search = driver.find_element_by_xpath('//input[@id="KeywordSearch"]')
    job_search.send_keys('Data Scientist')
except NoSuchElementException as e:
    print('Exception Raised: ', e)

In [60]:
from selenium.common.exceptions import ElementNotInteractableException
time.sleep(5)
try:
    loc_search = driver.find_element_by_id('LocationSearch')
    loc_search.send_keys('Noida')
except ElementNotInteractableException as e:
    print('Exception Raised: ', e)

Exception Raised:  Message: element not interactable
  (Session info: chrome=91.0.4472.106)

# ---------------------------------------------Question 6--------------------------------------------------

In [80]:
driver.get('https://www.flipkart.com/')

In [81]:
search = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')

In [82]:
search.send_keys('Sunglasses')

In [84]:
from selenium.webdriver.common.keys import Keys

In [83]:
search.send_keys(Keys.ENTER)

In [89]:
page_url = driver.find_elements_by_xpath("//a[@class = 'ge-49M']")
page_urls = []
for p in page_url:
    page_urls.append(p.get_attribute('href'))
page_urls = page_urls[:3]
page_urls

['https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4']

In [92]:
urls=[]
for i in page_urls:
    url = driver.find_elements_by_xpath("//a[@class = 'IRpwTa']")
    
    for u in url:
        urls.append(u.get_attribute('href'))
urls = urls[:100]
len(urls)

100

In [103]:
brand_name = []
time.sleep(5)
for i in urls:
    driver.get(i)
    try:
        brand = driver.find_element_by_xpath('//span[@class = "G6XhRU"]')
        brand_name.append(brand.text)
    except NoSuchElementException as e:
        print('Exception Raised: ', e)
        
brand_name

['Fastrack ',
 'PIRASO ',
 'NuVew ',
 'Singco ',
 'Silver Kartz ',
 'kingsunglasses ',
 'Singco India ',
 'ROZZETTA CRAFT ',
 'GANSTA ',
 'HIPPON ',
 'DEIXELS ',
 'PHENOMENAL ',
 'ROYAL SON ',
 'Wrogn ',
 'hipe ',
 'Fravy ',
 'IRUS by IDEE ',
 'elegante ',
 'FOSSIL ',
 'Mi ',
 'Cristiano Ronnie ',
 'Flizz ',
 'United Colors of Benetton. ',
 'IDEE ',
 'AISLIN ',
 'Fastrack ',
 'PIRASO ',
 'Singco India ',
 'NuVew ',
 'ROZZETTA CRAFT ',
 'PHENOMENAL ',
 'ROYAL SON ',
 'GANSTA ',
 'Wrogn ',
 'DEIXELS ',
 'elegante ',
 'hipe ',
 'Fravy ',
 'United Colors of Benetton. ',
 'FOSSIL ',
 'Fastrack ',
 'PIRASO ',
 'NuVew ',
 'Singco ',
 'Silver Kartz ',
 'kingsunglasses ',
 'Singco India ',
 'ROZZETTA CRAFT ',
 'GANSTA ',
 'HIPPON ',
 'DEIXELS ',
 'PHENOMENAL ',
 'ROYAL SON ',
 'Wrogn ',
 'hipe ',
 'Fravy ',
 'IRUS by IDEE ',
 'elegante ',
 'FOSSIL ',
 'Mi ',
 'Cristiano Ronnie ',
 'Flizz ',
 'United Colors of Benetton. ',
 'IDEE ',
 'AISLIN ',
 'Fastrack ',
 'PIRASO ',
 'Singco India ',
 'NuVew ',
 'ROZZETTA CRAFT ',
 'PHENOMENAL ',
 'ROYAL SON ',
 'GANSTA ',
 'Wrogn ',
 'DEIXELS ',
 'elegante ',
 'hipe ',
 'Fravy ',
 'United Colors of Benetton. ',
 'FOSSIL ',
 'Fastrack ',
 'PIRASO ',
 'NuVew ',
 'Singco ',
 'Silver Kartz ',
 'kingsunglasses ',
 'Singco India ',
 'ROZZETTA CRAFT ',
 'GANSTA ',
 'HIPPON ',
 'DEIXELS ',
 'PHENOMENAL ',
 'ROYAL SON ',
 'Wrogn ',
 'hipe ',
 'Fravy ',
 'IRUS by IDEE ',
 'elegante ',
 'FOSSIL ',
 'Mi ']

In [105]:
price_list = []
time.sleep(5)
for i in urls:
    driver.get(i)
    try:
        price = driver.find_element_by_xpath('//div[@class = "_30jeq3 _16Jk6d"]')
        price_list.append(price.text)
    except NoSuchElementException as e:
        price_list.append('NA')

In [106]:
discount_list = []
time.sleep(5)
for i in urls:
    driver.get(i)
    try:
        discount = driver.find_element_by_xpath('//div[@class = "_3Ay6Sb _31Dcoz pZkvcx"]')
        discount_list.append(discount.text)
    except NoSuchElementException as e:
        discount_list.append('NA')

In [115]:
prd_desc = []
time.sleep(5)
for i in urls:
    driver.get(i)
    try:
        prd = driver.find_element_by_xpath('//span[@class = "B_NuCI"]')
        prd_desc.append(prd.text)
    except NoSuchElementException as e:
        prd_desc.append('NA')

In [116]:
sunglasses = pd.DataFrame()
sunglasses['Brand'] = brand_name
sunglasses['Product'] = prd_desc
sunglasses['Price'] = price_list
sunglasses['Discount'] = discount_list
sunglasses

,Brand,Product,Price,Discount
0,Fastrack,UV Protection Rectangular Sunglasses (Free Siz...,₹695,13% off
1,PIRASO,UV Protection Aviator Sunglasses (54) (For Me...,₹237,85% off
2,NuVew,"UV Protection, Gradient, Night Vision, Mirrore...",₹282,75% off
3,Singco,Mirrored Aviator Sunglasses (53) (For Men & W...,₹249,75% off
4,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size) ...,₹246,83% off
...,...,...,...,...
95,Fravy,NA,₹329,83% off
96,IRUS by IDEE,"Others Rectangular Sunglasses (56) (For Men, ...",₹573,55% off
97,elegante,NA,₹199,80% off
98,FOSSIL,"Mirrored Round Sunglasses (51) (For Men, Grey)","₹2,136",51% off
99,Mi,NA,"₹1,199",NA

# -------------------------------------------------Question 7----------------------------------------------

In [117]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [125]:
btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a')
btn.click()

In [143]:
page_url = driver.find_elements_by_xpath("//a[@class = 'ge-49M']")
page_urls = []
for p in page_url:
    page_urls.append(p.get_attribute('href'))
page_urls = page_urls[:9]
len(page_urls)

9

In [144]:
page_url10 = driver.find_element_by_xpath("//a[@class = 'ge-49M _2Kfbh8']")
page_url10

In [145]:
page_urls.append(page_url10)

In [146]:
len(page_urls)

10

In [147]:
summary=[]
for i in page_urls:
    url = driver.find_elements_by_xpath("//p[@class = '_2-N8zT']")
    
    for s in url:
        summary.append(s.text)
len(summary)

100

In [149]:
rating = []
for i in page_urls:
    url = driver.find_elements_by_xpath("//div[@class = '_3LWZlK _1BLPMq']")
    
    for r in url:
        rating.append(r.text)
len(rating)

100

In [150]:
desc = []
for i in page_urls:
    url = driver.find_elements_by_xpath("//div[@class = '']")
    
    for d in url:
        desc.append(d.text)
len(desc)

100

In [152]:
iphone11review = pd.DataFrame()
iphone11review['Rating'] = rating
iphone11review['Summary'] = summary
iphone11review['Description'] = desc
iphone11review

,Rating,Summary,Description
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
98,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
99,5,Highly recommended,What a camera .....just awesome ..you can feel...

# ----------------------------------------------Question 8-------------------------------------------------

In [212]:
driver.get('https://www.flipkart.com/')

In [213]:
search = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')

In [214]:
search.send_keys('sneakers')

In [215]:
search.send_keys(Keys.ENTER)

In [216]:
page_url = driver.find_elements_by_xpath("//a[@class = 'ge-49M']")
page_urls = []
for p in page_url:
    page_urls.append(p.get_attribute('href'))
page_urls

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [193]:
urls=[]
for i in page_urls[:100]:
    url = driver.find_elements_by_xpath("//a[@class = 'IRpwTa']")
    
    for u in url:
        urls.append(u.get_attribute('href'))
urls = urls[:100]
len(urls)

100

In [196]:
brand_name = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand = driver.find_element_by_xpath('//span[@class = "G6XhRU"]')
        brand_name.append(brand.text)
    except NoSuchElementException as e:
        print('Exception Raised: ', e)

In [197]:
len(brand_name)

100

In [198]:
price_list = []
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        price = driver.find_element_by_xpath('//div[@class = "_30jeq3 _16Jk6d"]')
        price_list.append(price.text)
    except NoSuchElementException as e:
        price_list.append('NA')

In [199]:
len(price_list)

100

In [200]:
discount_list = []

for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        discount = driver.find_element_by_xpath('//div[@class = "_3Ay6Sb _31Dcoz pZkvcx"]')
        discount_list.append(discount.text)
    except NoSuchElementException as e:
        discount_list.append('NA')

In [201]:
len(discount_list)

100

In [202]:
prd_desc = []

for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        prd = driver.find_element_by_xpath('//span[@class = "B_NuCI"]')
        prd_desc.append(prd.text)
    except NoSuchElementException as e:
        prd_desc.append('NA')

In [203]:
len(prd_desc)

100

In [204]:
sneakers = pd.DataFrame()
sneakers['Brand'] = brand_name
sneakers['Product'] = prd_desc
sneakers['Price'] = price_list
sneakers['Discount'] = discount_list
sneakers

,Brand,Product,Price,Discount
0,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹448,70% off
1,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹377,62% off
2,bluemaker,casual for men (blue 06) Sneakers For Men (Blue),₹474,NA
3,PEHANOSA,Sneakers For Men (Multicolor),₹499,50% off
4,Alfiya,Shoes in Black Color Party wear/Outdoor/Casual...,₹377,62% off
...,...,...,...,...
95,PUMA,Simha IDP Sneakers For Men (Black),"₹1,529",49% off
96,ASTEROID,Skate Board White Shoes Men Running Flat PU Sn...,₹451,54% off
97,TR,Sneakers For Men (White),₹379,81% off
98,FILA,EMAN Sneakers For Men (White),"₹1,266",59% off
99,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹448,70% off

# ---------------------------------------------Question 9--------------------------------------------------

In [246]:
driver.get('https://www.myntra.com/shoes')

In [247]:
chckbx = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
chckbx.click()

In [248]:
chckbx2 = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
chckbx2.click()

In [262]:
page_url = driver.find_elements_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a")
page_url1 = []
for p in page_url:
    page_url1.append(p.get_attribute('href'))
len(page_url1)

1

In [263]:
page_url2 = driver.find_elements_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[4]/a")
page_url2_list = []
for p in page_url2:
    page_url2_list.append(p.get_attribute('href'))
len(page_url2_list)

1

In [274]:
page_urls = page_url1+page_url2_list
page_urls

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=3']

In [276]:
url_list=[]
for p in page_urls[:100]:
    url = driver.find_elements_by_xpath("//a[@target = '_blank']")
    
    for u in url:
        url_list.append(u.get_attribute('href'))

len(url_list)

100

In [279]:
brand = []

for i in url_list:
    driver.get(i)
    time.sleep(2)
    try:
        prd = driver.find_element_by_xpath('//h1[@class = "pdp-title"]')
        brand.append(prd.text)
    except NoSuchElementException as e:
        brand.append('NA')

In [291]:
brand = brand[:100]
len(brand)

100

In [286]:
desc = []

for i in url_list:
    driver.get(i)
    try:
        prd_desc = driver.find_element_by_xpath('//h1[@class = "pdp-name"]')
        desc.append(prd_desc.text)
    except NoSuchElementException as e:
        brand.append('NA')

In [287]:
len(desc)

100

In [289]:
price_list = []
for i in url_list:
    driver.get(i)
    time.sleep(1)
    try:
        price = driver.find_element_by_xpath('//span[@class = "pdp-price"]')
        price_list.append(price.text)
    except NoSuchElementException as e:
        price_list.append('NA')

In [290]:
len(price_list)

100

In [293]:
shoes = pd.DataFrame()
shoes['Brand'] = brand
shoes['Description'] = desc
shoes['Price'] = price_list
shoes

           Brand                                        Description      Price
0           FILA   Women Black & Off White PU Sneakers Casual Shoes   Rs. 7999
1          Ruosh                   Men Black Formal Leather Brogues   Rs. 7490
2      Cole Haan                       Women Black Leather Sneakers   Rs. 7699
3      Florsheim     Men Black & Brown Solid Leather Formal Loafers   Rs. 6995
4           FILA            Men Black Woven Design Leather Sneakers  Rs. 11599
..           ...                                                ...        ...
95  Hush Puppies              Men Black Solid Formal Leather Derbys   Rs. 6999
96   San Frissco              Men Black Embellished Leather Loafers   Rs. 7497
97     Cole Haan               Women Black Solid Leather Ballerinas   Rs. 9799
98          FILA  Women Black & White Heritage Disruptor II Snea...   Rs. 8999
99     Cole Haan      Women Black Zerogrand Global Trainer Sneakers   Rs. 6749

[100 rows x 3 columns]

# ------------------------------------------------Question 10----------------------------------------------

In [297]:
driver.get('https://www.amazon.in/')

In [298]:
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')
search.send_keys(Keys.ENTER)

In [299]:
checkbox = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[26]/span/a/div/label/i')
checkbox.click()

In [300]:
checkbox2 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[28]/span/a/div/label/i')
checkbox2.click()

In [303]:
title = driver.find_elements_by_xpath('//span[@class = "a-size-medium a-color-base a-text-normal"]')
title_list = []
for i in title:
    title_list.append(i.text)
title_list = title_list[:10]
title_list

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel Core i7-10875H 10th Gen, RTX 2080 Super Max-Q 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/MS Office/Gray/2.48 Kg) GX550LXS-HC145TS',
 'Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin and Light (16GB/512SSD/Win10 +Office Home/Intel Iris Xe Graphics/Graphite Grey/1.66kg), 82FG0117IN',
 'Lenovo ThinkPad E15 (2021) Intel Core i7 11th Gen 15.6" FHD Thin and Light Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Fingerprint Reader/Black/Aluminium Surface/ 1.7 kg), 20TDS0G100',
 'Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 'Lenovo ThinkPad E15 (2021) Intel Core i7 11th Gen 15.6" FHD Thin and Light Laptop (16GB RAM/1TB SSD/Windows 10/MS Office/NVIDIA MX450 2GB Graphics/FPR/Black/Aluminium Surface/ 1.7 kg), 20TDS0G200']

In [323]:
rating = driver.find_elements_by_class_name('a-icon-alt')
rating_list = []
for i in rating:
    rating_list.append(i.text)
rating_list = rating_list[:10]
rating_list

['', '', '', '', '', '', '', '', '', '']

In [316]:
price = driver.find_elements_by_xpath('//span[@class = "a-price-whole" ]')
price_list = []
for i in price:
    price_list.append(i.text)
price_list = price_list[:10]
price_list

['54,999',
 '89,000',
 '84,990',
 '86,990',
 '26,990',
 '2,69,990',
 '78,990',
 '90,990',
 '77,990',
 '1,05,990']

In [325]:
laptop = pd.DataFrame()
laptop['Description'] = title_list
laptop['Rating'] = rating_list
laptop['Price'] = price_list
laptop

                                         Description Rating     Price
0  Mi Notebook Horizon Edition 14 Intel Core i5-1...           54,999
1  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...           89,000
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...           84,990
3  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...           86,990
4  Life Digital Laptop 15.6-inch (39.62 cms) (Int...           26,990
5  ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel ...         2,69,990
6  Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin ...           78,990
7  Lenovo ThinkPad E15 (2021) Intel Core i7 11th ...           90,990
8  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...           77,990
9  Lenovo ThinkPad E15 (2021) Intel Core i7 11th ...         1,05,990

# ---------------------------------------END-------------------------------------------------