In [1]:
from selenium import webdriver
import pandas as pd
import numpy as np

In [11]:
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
chrome_driver_path = "C:\devlopement\chromedriver.exe"
driver = webdriver.Chrome(executable_path=chrome_driver_path)

# ---------------------------------------QUESTION 1----------------------------------------------

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [6]:
video_name = driver.find_elements_by_tag_name('a')

In [28]:
video_name_list = []
time.sleep(3)
for i in video_name:
    try:
        video_name_list.append(i.text)
    except NoSuchElementException:
        position.append('NA')

In [29]:
video_name_list = video_name_list[87:180]

In [52]:
vnl = []
for i in video_name_list:
    if len(i) >3:
        vnl.append(i)
vnl = vnl[0:20:2]
len(vnl)

10

In [66]:
artist = []
for i in video_name_list:
    if len(i)>4 and len(i)<=12:
        artist.append(i)
artist = artist [1:21:2]
len(artist)

10

In [73]:
views = driver.find_elements_by_xpath("//td[@align = 'center']")

In [81]:
views_l = []
for i in views:
    views_l.append(i.text)
views_l = views_l[1::2]

In [80]:
vw = []
for i in views_l:
    if len(i)==4:
        vw.append(i)
vw = vw[:10]
len(vw)

10

In [82]:
date = driver.find_elements_by_xpath("//td[@align = 'right']")

In [86]:
date_l = []
for i in date:
    date_l.append(i.text)
date_l = date_l[:10]
len(date_l)

10

In [88]:
you_tube = pd.DataFrame()
you_tube['Rank'] = range(1,11)
you_tube['Video_name'] = vnl
you_tube['Artist'] = artist
you_tube['Views in billion'] = vw
you_tube['Upload date'] = date_l
you_tube

,Rank,Video_name,Artist,Views in billion,Upload date
0,1,Baby Shark Dance,Luis Fonsi,8.99,"June 17, 2016"
1,2,Pinkfong Kids' Songs & Stories,Ed Sheeran,5.56,"January 12, 2017"
2,3,[24],Uptown Funk,5.18,"October 8, 2016"
3,4,Johny Johny Yes Papa,ChuChu TV,4.33,"January 30, 2017"
4,5,Shape of You,Maroon 5,4.23,"April 6, 2015"
5,6,Ed Sheeran,Sorry,4.00,"January 31, 2012"
6,7,[27],OneRepublic,3.51,"May 2, 2018"
7,8,Masha and the Bear,Dark Horse,3.47,"February 27, 2018"
8,9,[31],Faded,3.45,"November 19, 2014"
9,10,[32],Shake It Off,3.39,"July 15, 2012"

# ------------------------------ QUESTION 2-------------------------------------------

In [89]:
url = "https://www.bcci.tv"
driver.get(url)

In [92]:
dd_btn = driver.find_element_by_xpath('/html/body/footer/div/nav/ul/li[2]/ul/li[1]/a')
dd_btn.click()

In [95]:
mt = driver.find_elements_by_xpath ('//span[@class = "u-unskewed-text fixture__tournament-label u-truncated"]')

In [98]:
mt_list = []
time.sleep(3)
for i in mt:
    try:
        mt_list.append(i.text)
    except NoSuchElementException:
        mt_list.append('-')

In [106]:
d = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/span/strong')

In [107]:
d_list = []
time.sleep(3)
for i in d:
    try:
        d_list.append(i.text)
    except NoSuchElementException:
        d_list.append('-')

In [108]:
t = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/span')

In [109]:
t_list = []
time.sleep(3)
for i in t:
    try:
        t_list.append(i.text)
    except NoSuchElementException:
        t_list.append('-')

In [121]:
n_t_l=[i[-9:] for i in t_list]

In [123]:
ser = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/p/strong')

In [124]:
ser_l = []
for i in ser:
    try:
        ser_l.append(i.text)
    except NoSuchElementException:
        ser_l.append('-')

In [126]:
p = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/p/span')
p_l = []
for i in p:
    try:
        p_l.append(i.text)
    except NoSuchElementException:
        p_l.append('-')

In [132]:
bcci = pd.DataFrame()
bcci['Match Title'] = mt_list
bcci['Series'] = ser_l
bcci['Place'] = p_l
bcci['Date'] = d_list
bcci['Time'] = n_t_l
bcci

,Match Title,Series,Place,Date,Time
0,SRI LANKA V INDIA 2021,2nd ODI,"R Premadasa Stadium, Colombo",Tuesday 20 July,15:00 IST
1,SRI LANKA V INDIA 2021,3rd ODI,"R Premadasa Stadium, Colombo",Friday 23 July,15:00 IST
2,SRI LANKA V INDIA 2021,1st T20I,"R Premadasa Stadium, Colombo",Sunday 25 July,20:00 IST
3,SRI LANKA V INDIA 2021,2nd T20I,"R Premadasa Stadium, Colombo",Tuesday 27 July,20:00 IST
4,SRI LANKA V INDIA 2021,3rd T20I,"R Premadasa Stadium, Colombo",Thursday 29 July,20:00 IST
5,ENGLAND V INDIA 2021,1st Test,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
6,ENGLAND V INDIA 2021,2nd Test,"Lord's, London",Thursday 12 August,15:30 IST
7,ENGLAND V INDIA 2021,3rd Test,"Headingley, Leeds",Wednesday 25 August,15:30 IST
8,ENGLAND V INDIA 2021,4th Test,"The Oval, London",Thursday 2 September,15:30 IST
9,ENGLAND V INDIA 2021,5th Test,"Old Trafford, Manchester",Friday 10 September,15:30 IST

# ------------Question 3--------------------------

In [133]:
url = 'https://www.guru99.com'
driver.get(url)

In [134]:
sel_btn = driver.find_element_by_xpath('/html/body/div[2]/section[4]/div/div/div/div/div/div/div/div[1]/div/ul[1]/li[3]/a')
sel_btn.click()

In [139]:
exp_btn = driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a')
exp_url = exp_btn.get_attribute('href')
driver.get(exp_url)

In [142]:
t = driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table/tbody/tr/td')

In [144]:
t_list=[]
for i in t:
    try:
        t_list.append(i.text)
    except NoSuchElementException:
        t_list.append('-')

In [147]:
t_list = t_list[::2]

In [149]:
t_list.pop(0)

'Exception name'

In [151]:
d = driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table/tbody/tr/td')

In [152]:
d_list=[]
time.sleep(3)
for i in d:
    try:
        d_list.append(i.text)
    except NoSuchElementException:
        d_list.append('-')

In [155]:
d_list = d_list[1::2]

In [157]:
len(t_list)

20

In [158]:
excp = pd.DataFrame()
excp['Exception Name'] = t_list
excp['Description'] = d_list[:20]

In [159]:
excp

                      Exception Name Description
0      ElementNotSelectableException
1               NoSuchFrameException
2              NoSuchWindowException
3           SessionNotFoundException
4                 WebDriverException
5   ElementClickInterceptedException
6           ErrorInResponseException
7       ImeActivationFailedException
8       InsecureCertificateException
9       InvalidCookieDomainException
10       InvalidElementStateExceptio
11    InvalidSwitchToTargetException
12                     JsonException
13    MoveTargetOutOfBoundsException
14             NoSuchCookieException
15       RemoteDriverServerException
16        SessionNotCreatedException
17        UnexpectedTagNameException
18   UnexpectedAlertPresentException
19       UnreachableBrowserException